body {
  font-family: Arial, Verdana,  sans-serif; /* Семейство шрифтов */
  
  background-color: #47101d; /* Цвет фона веб-страницы */
  color: #8a78fa; /* Цвет основного текста */ 
  text-align: center;
	vertical-align: middle;
  text-decoration: blink;
}

h1 {	
	font-size: 35pt; /* Размер основного шрифта в пунктах  */
}
h2 {	
	font-size: 50pt; /* Размер основного шрифта в пунктах  */
	color: #13f207;
}
