body {
  font-family: Arial, Verdana,  sans-serif; /* Семейство шрифтов */
  
  background-color: #00FF59; /* Цвет фона веб-страницы */
  color: #FD2B06; /* Цвет основного текста */ 
  text-align: center;
	vertical-align: middle;
  text-decoration: blink;
}

h1 {	
	font-size: 60pt; /* Размер основного шрифта в пунктах  */
}
